<!-- shopify/snippets/layout-logo.liquid -->
<a class="{{ class | default: '' }}" style="{{ style | default: '' }}" href="{{ routes.root_url }}">
	{%- assign shop_class = 'sr-only' -%}
	{%- if settings.logo != blank -%}
		{%- assign image_size = settings.logo_width | append: 'x' -%}
		<img
			srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
			src="{{ settings.logo | img_url: image_size }}"
			width="{{ settings.logo.width }}"
			height="{{ settings.logo.height }}"
			alt="{{ settings.logo.alt | default: shop.name | escape }}"
		>
	{%- else -%}
		{%- assign shop_class = 'text-3xl font-bold font-heading' -%}
	{%- endif -%}
	<span class="{{ shop_class }}">{{ shop.name }}</span>
</a>
