<!-- shopify/snippets/layout-mobile-menu.liquid -->
<div :class="open ? '' : 'hidden'" class="{{ class | default: '' }}" style="{{ style | default: '' }}" tabindex="-1">
	<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25" @click="toggleMenu($event)"></div>
	<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto gap-8">
		<div class="flex items-center">
			{% render 'layout-logo', class: 'mr-auto text-3xl font-bold font-heading' %}
			<button @click.prevent="toggleMenu($event)">
				{% render 'icon', icon: 'close', class: 'h-2 w-2 text-gray-500 cursor-pointer' %}
			</button>
		</div>
		<div class="flex justify-between">
			{%- if shop.customer_accounts_enabled -%}
				<a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="inline-flex items-center font-semibold font-heading">
					{% render 'icon', icon: 'user', class:"mr-3" %}

					{%- liquid
						if customer
							echo 'customer.entry.create_account' | t
						else
							echo 'customer.entry.log_in' | t
						endif
					-%}
				</a>
			{%- endif -%}

			<div class="flex items-center">
				<!-- TODO: Adicionar uma opcao se o usuario quiser wishlist -->
				<a class="mr-10" href="/pages/wishlist">
					{% render 'icon', icon: 'heart' %}
					<span class="sr-only">Wishlist</span>
				</a>
				{% render 'cart-count', class: 'flex items-center relative' %}
			</div>
		</div>

		<div>
			<label for="mobile-search" class="sr-only">Search</label>
			<input id="mobile-search" class="block w-full py-5 px-8 bg-gray-100 rounded-md border-transparent focus:ring-blue-300 focus:border-blue-300 focus:outline-none" type="search" placeholder="Search">
		</div>

		<ul class="flex flex-col text-2xl gap-4 font-bold font-heading" role="list">
			{%- for link in section.settings.menu.links -%}
			<li>
				{%- if link.links != blank -%}
				<details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
					<summary class="{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
						{{ link.title | escape }}
					</summary>
					<div id="link-{{ link.title | escape }}" tabindex="-1">
						<div>
							<button aria-expanded="true">
								{{ link.title | escape }}
							</button>
							<ul role="list" tabindex="-1">
								{%- for childlink in link.links -%}
									<li>
										{%- if childlink.links == blank -%}
											<a href="{{ childlink.url }}" class="{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
												{{ childlink.title | escape }}
											</a>
										{%- else -%}
											<details id="Details-menu-drawer-submenu-{{ forloop.index }}">
												<summary class="">
													{{ childlink.title | escape }}
												</summary>
												<div id="childlink-{{ childlink.title | escape }}">
													<button aria-expanded="true">
														{{ childlink.title | escape }}
													</button>
													<ul role="list" tabindex="-1">
														{%- for grandchildlink in childlink.links -%}
															<li>
																<a href="{{ grandchildlink.url }}" class="{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
																	{{ grandchildlink.title | escape }}
																</a>
															</li>
														{%- endfor -%}
													</ul>
												</div>
											</details>
										{%- endif -%}
									</li>
								{%- endfor -%}
							</ul>
						</div>
					</div>
				</details>

				{%- else -%}
				<a href="{{ link.url }}" class="{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
					{{ link.title | escape }}
				</a>
				{%- endif -%}
			</li>
			{%- endfor -%}
		</ul>
	</nav>
</div>
