<!-- shopify/snippets/layout-account-forgot-password.liquid -->
{% form 'recover_customer_password' %}
	<h3 class="mb-8 text-4xl md:text-5xl font-bold font-heading">{{ 'customer.reset_password.title' | t }}</h3>
	<p class="mb-10">{{ 'customer.entry.reset_password_notice' | t }}</p>

	{% if form.errors %}
		{% capture error_text %}
			{{ form.errors | default_errors }}
		{% endcapture %}

		{% render 'layout-message',
			type: 'error'
			text: error_text
			class: 'mb-8'
		%}
	{% endif %}

	{% if form.posted_successfully? %}
		{% assign translation_response = 'customer.entry.reset_password_response' | t %}
		{% render 'layout-message',
			type: 'success'
			text: translation_response
			class: 'mb-8'
		%}
	{% endif %}
	<div>
		<label for="RecoverEmail" class="sr-only">{{ 'form.email' | t }}</label>
		<input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="email" id="" name="email" required>
	</div>

	<div class="mt-12 md:mt-16 flex flex-wrap gap-4 sm:gap-6 justify-center">
		<button type="submit" class="bg-blue-800 hover:bg-blue-900 text-white font-bold font-heading py-5 px-8 rounded-md uppercase">{{ 'action.restore' | t }}</button>
		<div class="w-full sm:w-auto flex justify-center items-center">
			<button class="underline" @click.prevent="show('login')">{{ 'action.cancel' | t }}</button>
		</div>
	</div>
{% endform %}
