<h3 class="mb-8 text-4xl md:text-5xl font-bold font-heading">{{ 'customer.entry.log_in' | t }}</h3>
<p class="mb-10">Please, do not hesitate</p>

{% form 'customer_login' %}
	{% if form.errors %}
		{% capture error_text %}
			{{ form.errors | default_errors }}
		{% endcapture %}

		{% render 'layout-message',
			type: 'error'
			text: error_text
			class: 'mb-8'
		%}
	{% endif %}

	<div>
		<label for="CustomerEmail" class="sr-only">{{ 'form.email' | t }}</label>
		<input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="email" placeholder="steven@example.dev" id="CustomerEmail" name="customer[email]" required>
	</div>

	{% if form.password_needed %}
		<div>
			<label for="CustomerPassword" class="sr-only">{{ 'form.password' | t }}</label>
			<input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="password" placeholder="Password" id="CustomerPassword" name="customer[password]" required>
		</div>
	{% endif %}

	<label class="flex" for="">
		<input class="mr-4 mt-1" type="checkbox" required>
		<span class="text-sm">By singning up, you agree to our Terms, Data Policy and Cookies.</span>
	</label>

	<div class="mt-12 md:mt-16 flex flex-wrap gap-4 sm:gap-6 justify-center">
		<button type="submit" class="bg-blue-800 hover:bg-blue-900 text-white font-bold font-heading py-5 px-8 rounded-md uppercase">{{ 'action.sign_in' | t }}</button>
		<div class="w-full sm:w-auto flex justify-center items-center">
			<span>{{ 'common.or' | t }}&nbsp;</span>
			<a href="{{ routes.root_url }}account/register" class="underline">{{ 'action.create_account' | t }}</a>
		</div>
	</div>

	{% if form.password_needed %}
		<button class="text-gray-600 text-sm mt-8" @click.prevent="show('forgot-password')">
			{{ 'action.forgot_your_password' | t }}
		</button>
	{% endif %}
{% endform %}
