<!-- shopify/sections/featured-collection.liquid -->
<section class="py-20 bg-gray-100">
	<div class="container mx-auto px-4">
		<h2 class="mb-16 md:mb-24 text-4xl md:text-5xl font-bold font-heading">Discover our products</h2>
		<div class="flex flex-wrap -mx-3 mb-24">
			<div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 lg:mb-0">
				<div class="relative bg-gray-50">
					<span class="absolute top-0 left-0 ml-6 mt-6 px-2 py-1 text-xs font-bold font-heading bg-white border-2 border-red-500 rounded-full text-red-500">-15%</span>
					<a class="block" href="#">
						<img class="w-full h-64 object-cover" src="yofte-assets/images/placeholder-basketball-player.png" alt="">
					</a>
					<div class="px-6 pb-6 mt-8">
						<a class="block px-6 mb-2" href="#">
							<h3 class="mb-2 text-xl font-bold font-heading">NIKE basketball ball</h3>
							<p class="text-lg font-bold font-heading text-blue-500">
								<span>$34.30</span>
								<span class="text-xs text-gray-500 font-semibold font-heading line-through">$40.99</span>
							</p>
						</a>
						<a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="white"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="white"></rect></svg>
						</a>
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 lg:mb-0">
				<div class="relative bg-gray-50">
					<span class="absolute top-0 left-0 ml-6 mt-6 px-2 py-1 text-xs font-bold font-heading bg-white border-2 border-red-500 rounded-full text-red-500">-10%</span>
					<a class="block" href="#">
						<img class="w-full h-64 object-cover" src="yofte-assets/images/placeholder-cream.png" alt="">
					</a>
					<div class="px-6 pb-6 mt-8">
						<a class="block px-6 mb-2" href="#">
							<h3 class="mb-2 text-xl font-bold font-heading">QUAI hand cream</h3>
							<p class="text-lg font-bold font-heading text-blue-500">
								<span>$34.80</span>
								<span class="text-xs text-gray-500 font-semibold font-heading line-through">$39.70</span>
							</p>
						</a>
						<a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="white"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="white"></rect></svg>
						</a>
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
				<div class="relative bg-gray-50">
					<span class="absolute top-0 left-0 ml-6 mt-6 px-2 py-1 text-xs font-bold font-heading bg-white border-2 border-red-500 rounded-full text-red-500">-15%</span>
					<a class="block" href="#">
						<img class="w-full h-64 object-cover" src="yofte-assets/images/placeholder-surfing-blue.png" alt="">
					</a>
					<div class="px-6 pb-6 mt-8">
						<a class="block px-6 mb-2" href="#">
							<h3 class="mb-2 text-xl font-bold font-heading">Boards Surfing</h3>
							<p class="text-lg font-bold font-heading text-blue-500">
								<span>$134.80</span>
								<span class="text-xs text-gray-500 font-semibold font-heading line-through">$149.90</span>
							</p>
						</a>
						<a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="white"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="white"></rect></svg>
						</a>
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/4 px-3">
				<div class="relative bg-gray-50">
					<span class="absolute top-0 left-0 ml-6 mt-6 px-2 py-1 text-xs font-bold font-heading bg-white border-2 border-blue-400 rounded-full text-blue-500 uppercase">New</span>
					<a class="block" href="#">
						<img class="w-full h-64 object-cover" src="yofte-assets/images/placeholder-gym.png" alt="">
					</a>
					<div class="px-6 pb-6 mt-8">
						<a class="block px-6 mb-2" href="#">
							<h3 class="mb-2 text-xl font-bold font-heading">Gym Set V1G</h3>
							<p class="text-lg font-bold font-heading text-blue-500">$49.90</p>
						</a>
						<a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="white"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="white"></rect></svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a class="inline-block bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-6 px-8 rounded-md uppercase" href="#">Show More</a>
		</div>
	</div>
</section>
{%- comment -%}
{{ 'component-card.static.css' | asset_url | stylesheet_tag }}
{{ 'component-price.static.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.static.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.static.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.static.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.static.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.static.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
	assign products_to_display = section.settings.collection.all_products_count

	if section.settings.collection.all_products_count > section.settings.products_to_show
		assign products_to_display = section.settings.products_to_show
		assign more_in_collection = true
	endif
-%}
<div class="collection page-width{% if section.settings.swipe_on_mobile == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %}">
	<div class="title-wrapper-with-link{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %}">
		<h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>

		{%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
			<a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
		{%- endif -%}
	</div>

	<slider-component class="slider-mobile-gutter">
		<ul class="grid grid--2-col product-grid{% if products_to_display == 4 or section.settings.collection == blank %} grid--2-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablet{% endif %}{% if products_to_display > 5 %} grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet grid--peek{% endif %}{% if section.settings.show_view_all == false or section.settings.collection.products.size < section.settings.products_to_show %} negative-margin{% endif %}{% if section.settings.show_view_all and section.settings.collection.products.size > section.settings.products_to_show %} negative-margin--small{% endif %}" role="list">
			{%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
				<li class="grid__item{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
					{% render 'product-card',
						product_card_product: product,
						media_size: section.settings.image_ratio,
						show_secondary_image: section.settings.show_secondary_image,
						add_image_padding: section.settings.add_image_padding,
						show_vendor: section.settings.show_vendor,
						show_image_outline: section.settings.show_image_outline,
						show_rating: section.settings.show_rating
					%}
				</li>
			{%- else -%}
				{%- for i in (1..4) -%}
					<li class="grid__item">
						{% render 'product-card-placeholder' %}
					</li>
				{%- endfor -%}
			{%- endfor -%}
		</ul>
		{%- if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 -%}
			<div class="slider-buttons no-js-hidden{% if section.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if section.settings.collection.all_products_count < 3 %} small-hide{% endif %}">
				<button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
				<div class="slider-counter caption">
					<span class="slider-counter--current">1</span>
					<span aria-hidden="true"> / </span>
					<span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
					<span class="slider-counter--total">{{ products_to_display }}</span>
				</div>
				<button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
			</div>
		{%- endif -%}
	</slider-component>

	{%- if section.settings.show_view_all and more_in_collection -%}
		<div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
			<a href="{{ section.settings.collection.url }}"
				class="button"
				aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
			>
				{{ 'sections.featured_collection.view_all' | t }}
			</a>
		</div>
	{%- endif -%}
</div>
{%- endcomment -%}

{% schema %}
{
	"name": "t:sections.featured-collection.name",
	"tag": "section",
	"class": "spaced-section",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"default": "Featured collection",
			"label": "t:sections.featured-collection.settings.title.label"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "t:sections.featured-collection.settings.collection.label"
		},
		{
			"type": "range",
			"id": "products_to_show",
			"min": 2,
			"max": 12,
			"step": 2,
			"default": 4,
			"label": "t:sections.featured-collection.settings.products_to_show.label"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"default": true,
			"label": "t:sections.featured-collection.settings.show_view_all.label"
		},
		{
			"type": "checkbox",
			"id": "swipe_on_mobile",
			"default": false,
			"label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
		},
		{
			"type": "header",
			"content": "t:sections.featured-collection.settings.header.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "adapt",
					"label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
				}
			],
			"default": "adapt",
			"label": "t:sections.featured-collection.settings.image_ratio.label"
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": false,
			"label": "t:sections.featured-collection.settings.show_secondary_image.label"
		},
		{
			"type": "checkbox",
			"id": "add_image_padding",
			"default": false,
			"label": "t:sections.featured-collection.settings.add_image_padding.label"
		},
		{
			"type": "checkbox",
			"id": "show_image_outline",
			"default": true,
			"label": "t:sections.featured-collection.settings.show_image_outline.label"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.featured-collection.settings.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_rating",
			"default": false,
			"label": "t:sections.featured-collection.settings.show_rating.label",
			"info": "t:sections.featured-collection.settings.show_rating.info"
		}
	],
	"presets": [
		{
			"name": "t:sections.featured-collection.presets.name"
		}
	]
}
{% endschema %}
