<!-- shopify/sections/header.liquid -->
{%- comment -%}
<link rel="stylesheet" href="{{ 'component-list-menu.static.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.static.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.static.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.static.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.static.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
	<link rel="stylesheet" href="{{ 'component-price.static.css' | asset_url }}" media="print" onload="this.media='all'">
	<link rel="stylesheet" href="{{ 'component-loading-overlay.static.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.static.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.static.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.static.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.static.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.static.css' | asset_url | stylesheet_tag }}</noscript>
<style>
	header-drawer {
		justify-self: start;
		margin-left: -1.2rem;
	}

	@media screen and (min-width: 990px) {
		header-drawer {
			display: none;
		}
	}

	.menu-drawer-container {
		display: flex;
	}

	.list-menu {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.list-menu--inline {
		display: inline-flex;
		flex-wrap: wrap;
	}

	summary.list-menu__item {
		padding-right: 2.7rem;
	}

	.list-menu__item {
		display: flex;
		align-items: center;
		line-height: calc(1 + 0.3 / var(--font-body-scale));
	}

	.list-menu__item--link {
		text-decoration: none;
		padding-bottom: 1rem;
		padding-top: 1rem;
		line-height: calc(1 + 0.8 / var(--font-body-scale));
	}

	@media screen and (min-width: 750px) {
		.list-menu__item--link {
			padding-bottom: 0.5rem;
			padding-top: 0.5rem;
		}
	}
</style>

<script src="{{ 'details-disclosure.static.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.static.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.static.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
	<symbol id="icon-search" viewbox="0 0 18 19" fill="none">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
	</symbol>

	<symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
		<path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
	</symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
	<header class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
		{%- if section.settings.menu != blank -%}
			<header-drawer data-breakpoint="tablet">
				<details class="menu-drawer-container">
					<summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
						<span>
							{% render 'icon-hamburger' %}
							{% render 'icon-close' %}
						</span>
					</summary>
					<div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
						<div class="menu-drawer__inner-container">
							<div class="menu-drawer__navigation-container">
								<nav class="menu-drawer__navigation">
									<ul class="menu-drawer__menu list-menu" role="list">
										{%- for link in section.settings.menu.links -%}
											<li>
												{%- if link.links != blank -%}
													<details>
														<summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
															{{ link.title | escape }}
															{% render 'icon-arrow' %}
															{% render 'icon-caret' %}
														</summary>
														<div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
															<div class="menu-drawer__inner-submenu">
																<button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
																	{% render 'icon-arrow' %}
																	{{ link.title | escape }}
																</button>
																<ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
																	{%- for childlink in link.links -%}
																		<li>
																			{%- if childlink.links == blank -%}
																				<a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
																					{{ childlink.title | escape }}
																				</a>
																			{%- else -%}
																				<details>
																					<summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
																						{{ childlink.title | escape }}
																						{% render 'icon-arrow' %}
																						{% render 'icon-caret' %}
																					</summary>
																					<div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
																						<button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
																							{% render 'icon-arrow' %}
																							{{ childlink.title | escape }}
																						</button>
																						<ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
																							{%- for grandchildlink in childlink.links -%}
																								<li>
																									<a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
																										{{ grandchildlink.title | escape }}
																									</a>
																								</li>
																							{%- endfor -%}
																						</ul>
																					</div>
																				</details>
																			{%- endif -%}
																		</li>
																	{%- endfor -%}
																</ul>
															</div>
														</div>
													</details>
												{%- else -%}
													<a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
														{{ link.title | escape }}
													</a>
												{%- endif -%}
											</li>
										{%- endfor -%}
									</ul>
								</nav>
								<div class="menu-drawer__utility-links">
									{%- if shop.customer_accounts_enabled -%}
										<a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
											{% render 'icon-account' %}
											{%- liquid
												if customer
													echo 'customer.account_fallback' | t
												else
													echo 'customer.log_in' | t
												endif
											-%}
										</a>
									{%- endif -%}
									<ul class="list list-social list-unstyled" role="list">
										{%- if settings.social_twitter_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_twitter_link }}" class="list-social__link link">
													{%- render 'icon-twitter' -%}
													<span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_facebook_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_facebook_link }}" class="list-social__link link">
													{%- render 'icon-facebook' -%}
													<span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_pinterest_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
													{%- render 'icon-pinterest' -%}
													<span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_instagram_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_instagram_link }}" class="list-social__link link">
													{%- render 'icon-instagram' -%}
													<span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_tiktok_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
													{%- render 'icon-tiktok' -%}
													<span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_tumblr_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
													{%- render 'icon-tumblr' -%}
													<span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_snapchat_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
													{%- render 'icon-snapchat' -%}
													<span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_youtube_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_youtube_link }}" class="list-social__link link">
													{%- render 'icon-youtube' -%}
													<span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_vimeo_link != blank -%}
											<li class="list-social__item">
												<a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
													{%- render 'icon-vimeo' -%}
													<span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
												</a>
											</li>
										{%- endif -%}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</details>
			</header-drawer>
		{%- endif -%}

		{%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
			<details-modal class="header__search">
				<details>
					<summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
						<span>
							<svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
								<use href="#icon-search">
							</svg>
							<svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
								<use href="#icon-close">
							</svg>
						</span>
					</summary>
					<div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
						<div class="modal-overlay"></div>
						<div class="search-modal__content" tabindex="-1">
							{%- if settings.predictive_search_enabled -%}
								<predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
							{%- endif -%}
								<form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
									<div class="field">
										<input class="search__input field__input"
											id="Search-In-Modal-1"
											type="search"
											name="q"
											value=""
											placeholder="{{ 'general.search.search' | t }}"
											{%- if settings.predictive_search_enabled -%}
												role="combobox"
												aria-expanded="false"
												aria-owns="predictive-search-results-list"
												aria-controls="predictive-search-results-list"
												aria-haspopup="listbox"
												aria-autocomplete="list"
												autocorrect="off"
												autocomplete="off"
												autocapitalize="off"
												spellcheck="false"
											{%- endif -%}
										>
										<label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
										<input type="hidden" name="options[prefix]" value="last">
										<button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
											<svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
												<use href="#icon-search">
											</svg>
										</button>
									</div>

									{%- if settings.predictive_search_enabled -%}
										<div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
											<div class="predictive-search__loading-state">
												<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
													<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
												</svg>
											</div>
										</div>

										<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
									{%- endif -%}
								</form>
							{%- if settings.predictive_search_enabled -%}
								</predictive-search>
							{%- endif -%}
							<button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
								<svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
									<use href="#icon-close">
								</svg>
							</button>
						</div>
					</div>
				</details>
			</details-modal>
		{%- endif -%}

		{%- if request.page_type == 'index' -%}
			<h1 class="header__heading">
		{%- endif -%}
				<a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
					{%- if section.settings.logo != blank -%}
						{%- assign image_size = section.settings.logo_width | append: 'x' -%}
						<img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
							src="{{ section.settings.logo | img_url: image_size }}"
							loading="lazy"
							class="header__heading-logo"
							width="{{ section.settings.logo.width }}"
							height="{{ section.settings.logo.height }}"
							alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
						>
					{%- else -%}
						<span class="h2">{{ shop.name }}</span>
					{%- endif -%}
				</a>
		{%- if request.page_type == 'index' -%}
			</h1>
		{%- endif -%}

		{%- if section.settings.menu != blank -%}
			<nav class="header__inline-menu">
				<ul class="list-menu list-menu--inline" role="list">
					{%- for link in section.settings.menu.links -%}
						<li>
							{%- if link.links != blank -%}
								<details-disclosure>
									<details>
										<summary class="header__menu-item list-menu__item link focus-inset">
											<span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
											{% render 'icon-caret' %}
										</summary>
										<ul class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
											{%- for childlink in link.links -%}
												<li>
													{%- if childlink.links == blank -%}
														<a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
															{{ childlink.title | escape }}
														</a>
													{%- else -%}
														<details>
															<summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
																{{ childlink.title | escape }}
																{% render 'icon-caret' %}
															</summary>
															<ul class="header__submenu list-menu motion-reduce">
																{%- for grandchildlink in childlink.links -%}
																	<li>
																		<a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
																			{{ grandchildlink.title | escape }}
																		</a>
																	</li>
																{%- endfor -%}
															</ul>
														</details>
													{%- endif -%}
												</li>
											{%- endfor -%}
										</ul>
									</details>
								</details-disclosure>
							{%- else -%}
								<a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
									<span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
								</a>
							{%- endif -%}
						</li>
					{%- endfor -%}
				</ul>
			</nav>
		{%- endif -%}

		<div class="header__icons">
			<details-modal class="header__search">
				<details>
					<summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
						<span>
							<svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
								<use href="#icon-search">
							</svg>
							<svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
								<use href="#icon-close">
							</svg>
						</span>
					</summary>
					<div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
						<div class="modal-overlay"></div>
						<div class="search-modal__content" tabindex="-1">
							{%- if settings.predictive_search_enabled -%}
								<predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
							{%- endif -%}
								<form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
									<div class="field">
										<input class="search__input field__input"
											id="Search-In-Modal"
											type="search"
											name="q"
											value=""
											placeholder="{{ 'general.search.search' | t }}"
											{%- if settings.predictive_search_enabled -%}
												role="combobox"
												aria-expanded="false"
												aria-owns="predictive-search-results-list"
												aria-controls="predictive-search-results-list"
												aria-haspopup="listbox"
												aria-autocomplete="list"
												autocorrect="off"
												autocomplete="off"
												autocapitalize="off"
												spellcheck="false"
											{%- endif -%}
										>
										<label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
										<input type="hidden" name="options[prefix]" value="last">
										<button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
											<svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
												<use href="#icon-search">
											</svg>
										</button>
									</div>

									{%- if settings.predictive_search_enabled -%}
										<div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
											<div class="predictive-search__loading-state">
												<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
													<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
												</svg>
											</div>
										</div>

										<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
									{%- endif -%}
								</form>
							{%- if settings.predictive_search_enabled -%}
								</predictive-search>
							{%- endif -%}
							<button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
								<svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
									<use href="#icon-close">
								</svg>
							</button>
						</div>
					</div>
				</details>
			</details-modal>

			{%- if shop.customer_accounts_enabled -%}
				<a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
					{% render 'icon-account' %}
					<span class="visually-hidden">
						{%- liquid
							if customer
								echo 'customer.account_fallback' | t
							else
								echo 'customer.log_in' | t
							endif
						-%}
					</span>
				</a>
			{%- endif -%}

			<a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
				{%- liquid
					if cart == empty
						render 'icon-cart-empty'
					else
						render 'icon-cart'
					endif
				-%}
				<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
				{%- if cart != empty -%}
					<div class="cart-count-bubble">
						{%- if cart.item_count < 100 -%}
							<span aria-hidden="true">{{ cart.item_count }}</span>
						{%- endif -%}
						<span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
					</div>
				{%- endif -%}
			</a>
		</div>
	</header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endcomment -%}

<div class="relative">
	<nav class="relative flex justify-between bg-blue-50 bg-opacity-30">
		<div class="px-12 py-8 flex w-full items-center">
			<a class="flex-shrink-0 text-3xl font-bold font-heading" href="#">
				<img class="h-9" src="{{'yofte-logo.static.svg' | asset_url}}" alt="" width="auto">
			</a>
			<ul class="hidden lg:flex absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:items-center lg:w-auto gap-8">
				<li><a class="font-bold font-heading hover:text-gray-600" href="#">Category</a></li>
				<li><a class="font-bold font-heading hover:text-gray-600" href="#">Collection</a></li>
				<li><a class="font-bold font-heading hover:text-gray-600" href="#">Story</a></li>
				<li><a class="font-bold font-heading hover:text-gray-600" href="#">Brand</a></li>
				<li><a class="font-bold font-heading hover:text-gray-600" href="#">Photos</a></li>
			</ul>
		</div>
		<div class="hidden xl:flex items-center justify-end mr-12">
			<a class="mr-10" href="#">
				<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.4998 19.2061L2.70115 9.92527C1.92859 9.14433 1.41864 8.1374 1.24355 7.04712C1.06847 5.95684 1.23713 4.8385 1.72563 3.85053V3.85053C2.09464 3.10462 2.63366 2.45803 3.29828 1.96406C3.9629 1.47008 4.73408 1.14284 5.5483 1.00931C6.36252 0.875782 7.19647 0.939779 7.98144 1.19603C8.7664 1.45228 9.47991 1.89345 10.0632 2.48319L11.4998 3.93577L12.9364 2.48319C13.5197 1.89345 14.2332 1.45228 15.0182 1.19603C15.8031 0.939779 16.6371 0.875782 17.4513 1.00931C18.2655 1.14284 19.0367 1.47008 19.7013 1.96406C20.3659 2.45803 20.905 3.10462 21.274 3.85053V3.85053C21.7625 4.8385 21.9311 5.95684 21.756 7.04712C21.581 8.1374 21.071 9.14433 20.2984 9.92527L11.4998 19.2061Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</a>
			<a class="flex items-center" href="#">
				<svg class="mr-3" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					<path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
				<span class="inline-block w-6 h-6 text-center bg-orange-300 rounded-full font-semibold font-heading text-white">3</span>
			</a>
		</div>
		<button class="flex-shrink-0 hidden xl:block px-8 border-l">
			<div class="flex items-center">
				<img class="w-9 h-9 object-cover mr-2" src="{{'avatar.static.svg' | asset_url}}" alt="">
				<span class="mr-2 font-medium">Robert</span>
				<span>
					<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.66797 1.66699L5.0013 5.00033L8.33464 1.66699" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
				</span>
			</div>
		</button>
		<a class="xl:hidden flex mr-6 items-center text-gray-900" href="#">
			<svg class="mr-2" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				<path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
			<span class="inline-block w-6 h-6 text-center text-white bg-orange-300 rounded-full font-semibold font-heading">3</span>
		</a>
		<a class="navbar-burger self-center mr-12 xl:hidden" href="#">
			<svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 2H19C19.2652 2 19.5196 1.89464 19.7071 1.70711C19.8946 1.51957 20 1.26522 20 1C20 0.734784 19.8946 0.48043 19.7071 0.292893C19.5196 0.105357 19.2652 0 19 0H1C0.734784 0 0.48043 0.105357 0.292893 0.292893C0.105357 0.48043 0 0.734784 0 1C0 1.26522 0.105357 1.51957 0.292893 1.70711C0.48043 1.89464 0.734784 2 1 2ZM19 10H1C0.734784 10 0.48043 10.1054 0.292893 10.2929C0.105357 10.4804 0 10.7348 0 11C0 11.2652 0.105357 11.5196 0.292893 11.7071C0.48043 11.8946 0.734784 12 1 12H19C19.2652 12 19.5196 11.8946 19.7071 11.7071C19.8946 11.5196 20 11.2652 20 11C20 10.7348 19.8946 10.4804 19.7071 10.2929C19.5196 10.1054 19.2652 10 19 10ZM19 5H1C0.734784 5 0.48043 5.10536 0.292893 5.29289C0.105357 5.48043 0 5.73478 0 6C0 6.26522 0.105357 6.51957 0.292893 6.70711C0.48043 6.89464 0.734784 7 1 7H19C19.2652 7 19.5196 6.89464 19.7071 6.70711C19.8946 6.51957 20 6.26522 20 6C20 5.73478 19.8946 5.48043 19.7071 5.29289C19.5196 5.10536 19.2652 5 19 5Z" fill="currentColor"></path>
			</svg>
		</a>
	</nav>
	<div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
		<nav class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto">
			<div class="flex items-center mb-8">
				<a class="mr-auto text-3xl font-bold font-heading" href="#">
					<img class="h-9" src="{{'yofte-logo.static.svg' | asset_url }}" alt="" width="auto">
				</a>
				<button class="navbar-close">
					<svg class="h-2 w-2 text-gray-500 cursor-pointer" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.00002 1L1 9.00002M1.00003 1L9.00005 9.00002" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
				</button>
			</div>
			<div class="flex mb-8 justify-between">
				<button>
					<div class="flex items-center">
						<img class="w-9 h-9 object-cover mr-2" src="{{'avatar.static.svg' | asset_url }}" alt="">
						<span class="mr-2 font-medium">Robert</span>
						<span>
							<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.66797 1.66699L5.0013 5.00033L8.33464 1.66699" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</span>
					</div>
				</button>
				<div class="flex items-center">
					<a class="mr-10" href="#">
						<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.4998 19.2061L2.70115 9.92527C1.92859 9.14433 1.41864 8.1374 1.24355 7.04712C1.06847 5.95684 1.23713 4.8385 1.72563 3.85053V3.85053C2.09464 3.10462 2.63366 2.45803 3.29828 1.96406C3.9629 1.47008 4.73408 1.14284 5.5483 1.00931C6.36252 0.875782 7.19647 0.939779 7.98144 1.19603C8.7664 1.45228 9.47991 1.89345 10.0632 2.48319L11.4998 3.93577L12.9364 2.48319C13.5197 1.89345 14.2332 1.45228 15.0182 1.19603C15.8031 0.939779 16.6371 0.875782 17.4513 1.00931C18.2655 1.14284 19.0367 1.47008 19.7013 1.96406C20.3659 2.45803 20.905 3.10462 21.274 3.85053V3.85053C21.7625 4.8385 21.9311 5.95684 21.756 7.04712C21.581 8.1374 21.071 9.14433 20.2984 9.92527L11.4998 19.2061Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</a>
					<a class="flex items-center" href="#">
						<svg class="mr-3" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
						<span class="inline-block w-6 h-6 text-center bg-gray-100 rounded-full font-semibold font-heading">3</span>
					</a>
				</div>
			</div>
			<input class="block mb-10 py-5 px-8 bg-gray-100 rounded-md border-transparent focus:ring-blue-300 focus:border-blue-300 focus:outline-none" type="search" placeholder="Search">
			<ul class="text-3xl font-bold font-heading">
				<li class="mb-8"><a href="#">Category</a></li>
				<li class="mb-8"><a href="#">Collection</a></li>
				<li class="mb-8"><a href="#">Story</a></li>
				<li class="mb-8"><a href="#">Brand</a></li>
				<li><a href="#">Photos</a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
	<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
	<nav class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto">
		<div class="flex items-center mb-8">
			<a class="mr-auto text-3xl font-bold font-heading" href="#">
				<img class="h-9" src="{{ 'yofte-logo.static.svg' | asset_url }}" alt="" width="auto">
			</a>
			<button class="navbar-close">
				<svg class="h-2 w-2 text-gray-500 cursor-pointer" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.00002 1L1 9.00002M1.00003 1L9.00005 9.00002" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</button>
		</div>
		<div class="flex mb-8 justify-between">
			<a class="inline-flex items-center font-semibold font-heading" href="#">
				<svg class="mr-3" width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.0006 16.3154C19.1303 16.3154 21.6673 13.799 21.6673 10.6948C21.6673 7.59064 19.1303 5.07422 16.0006 5.07422C12.871 5.07422 10.334 7.59064 10.334 10.6948C10.334 13.799 12.871 16.3154 16.0006 16.3154Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					<path d="M24.4225 23.8963C23.6678 22.3507 22.4756 21.0445 20.9845 20.1298C19.4934 19.2151 17.7647 18.7295 15.9998 18.7295C14.2349 18.7295 12.5063 19.2151 11.0152 20.1298C9.52406 21.0445 8.33179 22.3507 7.57715 23.8963" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
				<span>Sign&nbsp;In</span>
			</a>
			<div class="flex items-center">
				<a class="mr-10" href="#">
					<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.4998 19.2061L2.70115 9.92527C1.92859 9.14433 1.41864 8.1374 1.24355 7.04712C1.06847 5.95684 1.23713 4.8385 1.72563 3.85053V3.85053C2.09464 3.10462 2.63366 2.45803 3.29828 1.96406C3.9629 1.47008 4.73408 1.14284 5.5483 1.00931C6.36252 0.875782 7.19647 0.939779 7.98144 1.19603C8.7664 1.45228 9.47991 1.89345 10.0632 2.48319L11.4998 3.93577L12.9364 2.48319C13.5197 1.89345 14.2332 1.45228 15.0182 1.19603C15.8031 0.939779 16.6371 0.875782 17.4513 1.00931C18.2655 1.14284 19.0367 1.47008 19.7013 1.96406C20.3659 2.45803 20.905 3.10462 21.274 3.85053V3.85053C21.7625 4.8385 21.9311 5.95684 21.756 7.04712C21.581 8.1374 21.071 9.14433 20.2984 9.92527L11.4998 19.2061Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
				</a>
				<a class="flex items-center" href="#">
					<svg class="mr-3" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					<span class="inline-block w-6 h-6 text-center bg-gray-100 rounded-full font-semibold font-heading">3</span>
				</a>
			</div>
		</div>
		<input class="block mb-10 py-5 px-8 bg-gray-100 rounded-md border-transparent focus:ring-blue-300 focus:border-blue-300 focus:outline-none" type="search" placeholder="Search">
		<ul class="text-3xl font-bold font-heading">
			<li class="mb-8"><a href="#">Category</a></li>
			<li class="mb-8"><a href="#">Collection</a></li>
			<li class="mb-8"><a href="#">Story</a></li>
			<li><a href="#">Brand</a></li>
		</ul>
	</nav>
</div>

{% javascript %}
	class StickyHeader extends HTMLElement {
		constructor() {
			super();
		}

		connectedCallback() {
			this.header = document.getElementById('shopify-section-header');
			this.headerBounds = {};
			this.currentScrollTop = 0;
			this.preventReveal = false;

			this.onScrollHandler = this.onScroll.bind(this);
			this.hideHeaderOnScrollUp = () => this.preventReveal = true;

			this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
			window.addEventListener('scroll', this.onScrollHandler, false);

			this.createObserver();
		}

		disconnectedCallback() {
			this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
			window.removeEventListener('scroll', this.onScrollHandler);
		}

		createObserver() {
			let observer = new IntersectionObserver((entries, observer) => {
				this.headerBounds = entries[0].intersectionRect;
				observer.disconnect();
			});

			observer.observe(this.header);
		}

		onScroll() {
			const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

			if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
				requestAnimationFrame(this.hide.bind(this));
			} else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
				if (!this.preventReveal) {
					requestAnimationFrame(this.reveal.bind(this));
				} else {
					window.clearTimeout(this.isScrolling);

					this.isScrolling = setTimeout(() => {
						this.preventReveal = false;
					}, 66);

					requestAnimationFrame(this.hide.bind(this));
				}
			} else if (scrollTop <= this.headerBounds.top) {
				requestAnimationFrame(this.reset.bind(this));
			}


			this.currentScrollTop = scrollTop;
		}

		hide() {
			this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
			this.closeMenuDisclosure();
			this.closeSearchModal();
		}

		reveal() {
			this.header.classList.add('shopify-section-header-sticky', 'animate');
			this.header.classList.remove('shopify-section-header-hidden');
		}

		reset() {
			this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
		}

		closeMenuDisclosure() {
			this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
			this.disclosures.forEach(disclosure => disclosure.close());
		}

		closeSearchModal() {
			this.searchModal = this.searchModal || this.header.querySelector('details-modal');
			this.searchModal.close(false);
		}
	}

	customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": {{ shop.name | json }},
		{% if section.settings.logo %}
			{% assign image_size = section.settings.logo.width | append: 'x' %}
			"logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
		{% endif %}
		"sameAs": [
			{{ settings.social_twitter_link | json }},
			{{ settings.social_facebook_link | json }},
			{{ settings.social_pinterest_link | json }},
			{{ settings.social_instagram_link | json }},
			{{ settings.social_tiktok_link | json }},
			{{ settings.social_tumblr_link | json }},
			{{ settings.social_snapchat_link | json }},
			{{ settings.social_youtube_link | json }},
			{{ settings.social_vimeo_link | json }}
		],
		"url": {{ shop.url | append: page.url | json }}
	}
</script>

{%- if request.page_type == 'index' -%}
	{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": {{ shop.name | json }},
			"potentialAction": {
				"@type": "SearchAction",
				"target": {{ potential_action_target | json }},
				"query-input": "required name=search_term_string"
			},
			"url": {{ shop.url | append: page.url | json }}
		}
	</script>
{%- endif -%}

{% schema %}
{
	"name": "t:sections.header.name",
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
					"value": "accent-1",
					"label": "t:sections.header.settings.color_scheme.options__1.label"
				},
				{
					"value": "accent-2",
					"label": "t:sections.header.settings.color_scheme.options__2.label"
				},
				{
					"value": "background-1",
					"label": "t:sections.header.settings.color_scheme.options__3.label"
				},
				{
					"value": "background-2",
					"label": "t:sections.header.settings.color_scheme.options__4.label"
				},
				{
					"value": "inverse",
					"label": "t:sections.header.settings.color_scheme.options__5.label"
				}
			],
			"default": "background-1",
			"label": "t:sections.header.settings.color_scheme.label"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "t:sections.header.settings.logo.label"
		},
		{
			"type": "range",
			"id": "logo_width",
			"min": 50,
			"max": 250,
			"step": 10,
			"default": 100,
			"unit": "t:sections.header.settings.logo_width.unit",
			"label": "t:sections.header.settings.logo_width.label"
		},
		{
			"type": "select",
			"id": "logo_position",
			"options": [
				{
					"value": "middle-left",
					"label": "t:sections.header.settings.logo_position.options__1.label"
				},
				{
					"value": "top-left",
					"label": "t:sections.header.settings.logo_position.options__2.label"
				},
				{
					"value": "top-center",
					"label": "t:sections.header.settings.logo_position.options__3.label"
				}
			],
			"default": "middle-left",
			"label": "t:sections.header.settings.logo_position.label"
		},
		{
			"type": "link_list",
			"id": "menu",
			"default": "main-menu",
			"label": "t:sections.header.settings.menu.label"
		},
		{
			"type": "checkbox",
			"id": "show_line_separator",
			"default": true,
			"label": "t:sections.header.settings.show_line_separator.label"
		},
		{
			"type": "checkbox",
			"id": "enable_sticky_header",
			"default": true,
			"label": "t:sections.header.settings.enable_sticky_header.label",
			"info": "t:sections.header.settings.enable_sticky_header.info"
		}
	]
}
{% endschema %}
