<!-- shopify/sections/layout-header.liquid -->
<section x-data="header">
	<div class="relative">
		<nav class="relative flex justify-between bg-blue-50 bg-opacity-30 border-b">
			<div class="p-6 flex w-full items-center">
				{% render 'layout-logo', class: 'flex-shrink-0' %}
				<div class="hidden xl:flex max-w-xs py-3 pl-4 px-2 bg-white rounded-lg ml-4 w-">
					{% render 'icon', icon: 'search', class: 'w-6 h-auto mr-2' %}
					<input class="w-full border-0 focus:ring-transparent focus:outline-none p-0" type="text" placeholder="">
					<!-- <select class="pl-6 pr-6 border-0 border-l border-gray-100 focus:border-gray-100 focus:ring-transparent focus:outline-none cursor-pointer" name="" id="">
						<option>All&nbsp;items</option>
						<option>Collection</option>
						<option>Option</option>
					</select> -->
				</div>
				{% render 'layout-menu' %}
			</div>

			<div class="hidden xl:flex items-center justify-end mr-8 gap-4">
				<a href="/pages/wishlist">
					{% render 'icon', icon: 'heart' %}
					<span class="sr-only">Wishlist</span>
				</a>

				{% render 'cart-count', class: 'flex items-center' %}
			</div>

			{% if shop.customer_accounts_enabled %}
				{% if customer %}
					<!-- {{ routes.account_url }} -->
					<button class="flex-shrink-0 hidden xl:block px-8 border-l">
						<div class="flex items-center">
							<img class="w-9 h-9 object-cover mr-2" src="{{ 'avatar.static.svg' | asset_url }}" loading="lazy" alt="Robert" width="36" height="36" />
							<span class="mr-2 font-medium">Robert</span>
							<span>
								{% render 'icon', icon: 'chevron-down' %}
							</span>
						</div>
					</button>
				{% else %}
					<a class="hidden xl:flex items-center px-12 border-l font-semibold font-heading hover:text-gray-600" href="{{ routes.account_login_url }}">
						{% render 'icon', icon: 'user', class: 'mr-3' %}
						<span class="whitespace-nowrap">{{ 'action.account' | t }}</span>
					</a>
				{% endif %}
			{% endif %}

			{% render 'cart-count', class: 'xl:hidden flex items-center text-gray-900' %}

			<button @click="toggleMenu($event)" class="p-4 self-center xl:hidden">
				{% render 'icon', icon: 'burger' %}
			</button>
		</nav>
	</div>

	{% render 'layout-mobile-menu', class: 'relative z-50' %}
</section>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": {{ shop.name | json }},
		{% if section.settings.logo %}
			{% assign image_size = section.settings.logo.width | append: 'x' %}
			"logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
		{% endif %}
		"sameAs": [
			{{ settings.social_twitter_link | json }},
			{{ settings.social_facebook_link | json }},
			{{ settings.social_pinterest_link | json }},
			{{ settings.social_instagram_link | json }},
			{{ settings.social_tiktok_link | json }},
			{{ settings.social_tumblr_link | json }},
			{{ settings.social_snapchat_link | json }},
			{{ settings.social_youtube_link | json }},
			{{ settings.social_vimeo_link | json }}
		],
		"url": {{ shop.url | append: page.url | json }}
	}
</script>

{%- if request.page_type == 'index' -%}
	{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": {{ shop.name | json }},
			"potentialAction": {
				"@type": "SearchAction",
				"target": {{ potential_action_target | json }},
				"query-input": "required name=search_term_string"
			},
			"url": {{ shop.url | append: page.url | json }}
		}
	</script>
{%- endif -%}

{% schema %}
{
	"name": "Header",
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
					"value": "accent-1",
					"label": "Accent 1"
				},
				{
					"value": "accent-2",
					"label": "Accent 2"
				},
				{
					"value": "background-1",
					"label": "Background 1"
				},
				{
					"value": "background-2",
					"label": "Background 2"
				},
				{
					"value": "inverse",
					"label": "Inverse"
				}
			],
			"default": "background-1",
			"label": "Color scheme"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo Image"
		},
		{
			"type": "range",
			"id": "logo_width",
			"min": 50,
			"max": 250,
			"step": 10,
			"default": 100,
			"unit": "px",
			"label": "Custom logo width"
		},
		{
			"type": "select",
			"id": "logo_position",
			"options": [
				{
					"value": "middle-left",
					"label": "middle-left"
				},
				{
					"value": "top-left",
					"label": "top-left"
				},
				{
					"value": "top-center",
					"label": "top-center"
				}
			],
			"default": "middle-left",
			"label": "Logo position on large screens"
		},
		{
			"type": "link_list",
			"id": "menu",
			"default": "main-menu",
			"label": "Menu"
		},
		{
			"type": "checkbox",
			"id": "enable_sticky_header",
			"default": true,
			"label": "Enable sticky header",
			"info": "Header shows on the screen as customers scroll up."
		}
	]
}
{% endschema %}
