<!-- shopify/sections/main-cart.liquid -->
<section class="py-20 bg-gray-100" x-data>
	<div class="container mx-auto px-4">
		<div class="p-8 lg:p-20 bg-white">
			<h1 class="mb-20 text-5xl font-bold font-heading">{{ "cart.title" | t }}</h1>
			{% if cart.item_count > 0 %}
				<form action="/cart?locale={{ request.locale.iso_code }}" method="post" novalidate>
					<input type="hidden" name="attributes[locale]" value="{{ request.locale.iso_code }}" />

					<div class="flex flex-wrap items-center -mx-4">
						<div class="w-full xl:w-8/12 mb-8 xl:mb-0 px-4">
							<div class="hidden lg:flex w-full">
								<div class="w-full lg:w-3/6">
									<h4 class="mb-6 font-bold font-heading text-gray-500">{{ "common.product" | t }}</h4>
								</div>
								<div class="w-full lg:w-1/6">
									<h4 class="mb-6 font-bold font-heading text-gray-500">{{ "common.price" | t }}</h4>
								</div>
								<div class="w-full lg:w-1/6 text-center">
									<h4 class="mb-6 font-bold font-heading text-gray-500">{{ "common.quantity" | t }}</h4>
								</div>
								<div class="w-full lg:w-1/6 text-right">
									<h4 class="mb-6 font-bold font-heading text-gray-500">{{ "common.total" | t }}</h4>
								</div>
							</div>
							<div class="mb-12 py-6 border-t border-b border-gray-200">
								<div class="flex flex-wrap items-center -mx-4 mb-6 md:mb-3">
									<div class="w-full md:w-4/6 lg:w-6/12 px-4 mb-6 md:mb-0">
										<div class="flex -mx-4 flex-wrap items-center">
											<div class="w-full md:w-1/3 px-4 mb-3">
												<div class="flex items-center justify-center w-full md:w-24 h-32 bg-gray-100">
													<img class="h-full object-contain" src="yofte-assets/images/waterbottle.png" alt="">
												</div>
											</div>
											<div class="w-2/3 px-4">
												<h3 class="mb-2 text-xl font-bold font-heading">BRILE water filter carafe</h3>
												<p class="text-gray-500">Maecenas 0.7 commodo sit</p>
											</div>
										</div>
									</div>
									<div class="hidden lg:block lg:w-2/12 px-4">
										<p class="text-lg text-blue-500 font-bold font-heading">$29.89</p>
										<span class="text-xs text-gray-500 line-through">$33.69</span>
									</div>
									<div class="w-auto md:w-1/6 lg:w-2/12 px-4">
										<div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md">
											<button class="py-2 hover:text-gray-700">
												<svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
											</button>
											<input class="w-12 m-0 px-2 py-4 text-center md:text-right border-0 focus:ring-transparent focus:outline-none rounded-md" type="number" placeholder="1">
											<button class="py-2 hover:text-gray-700">
												<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
											</button>
										</div>
									</div>
									<div class="w-auto md:w-1/6 lg:w-2/12 px-4 text-right">
										<p class="text-lg text-blue-500 font-bold font-heading">$29.89</p>
									</div>
								</div>
								<div class="flex flex-wrap items-center -mx-4">
									<div class="w-full md:w-4/6 lg:w-6/12 px-4 mb-6 md:mb-0">
										<div class="flex -mx-4 flex-wrap items-center">
											<div class="w-full md:w-1/3 px-4 mb-3">
												<div class="flex items-center justify-center w-full md:w-24 h-32 bg-gray-100">
													<img class="h-full object-contain" src="yofte-assets/images/basketball.png" alt="">
												</div>
											</div>
											<div class="w-full md:w-2/3 px-4">
												<h3 class="mb-2 text-xl font-bold font-heading">Nike basketball ball</h3>
												<p class="text-gray-500">Lorem ipsum dolor L</p>
											</div>
										</div>
									</div>
									<div class="hidden lg:block lg:w-2/12 px-4">
										<p class="text-lg text-blue-500 font-bold font-heading">$29.89</p>
										<span class="text-xs text-gray-500 line-through">$33.69</span>
									</div>
									<div class="w-auto md:w-1/6 lg:w-2/12 px-4">
										<div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md">
											<button class="py-2 hover:text-gray-700">
												<svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
											</button>
											<input class="w-12 m-0 px-2 py-4 text-center md:text-right border-0 focus:ring-transparent focus:outline-none rounded-md" type="number" placeholder="1">
											<button class="py-2 hover:text-gray-700">
												<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
											</button>
										</div>
									</div>
									<div class="w-auto md:w-1/6 lg:w-2/12 px-4 text-right">
										<p class="text-lg text-blue-500 font-bold font-heading">$29.89</p>
									</div>
								</div>

								{% for item in cart.items %}
									{% capture deleteUrl %}
									{% unless routes.root_url == '/' %}{{ routes.root_url }}{% endunless%}/cart/change?line={{ forloop.index }}&amp;quantity=0{% endcapture %}
									{% render 'layout-product-cart',
										class: 'mb-12 md:mb-8'
										product: item
										deleteUrl: deleteUrl %}
								{% endfor %}
							</div>

							<div class="flex flex-wrap items-center lg:-mb-4">
								<span class="mr-12 mb-4 font-medium">Apply discount code:</span>
								<input class="flex-1 md:flex-none mr-6 sm:mr-0 md:mr-6 mb-4 px-8 py-4 placeholder-gray-800 font-bold font-heading border rounded-md" type="text" placeholder="SUMMER30X">
								<a class="flex-1 md:flex-none inline-block mb-4 px-8 py-4 text-center text-white font-bold font-heading uppercase bg-gray-800 hover:bg-gray-700 rounded-md" href="#">Apply</a>
							</div>

							<div class="flex flex-col items-end border-t pt-6">
								<div class="text-lg font-semibold space-x-8">
									<span class="inline-block">{{ "cart.subtotal" | t }}</span>
									<span class="inline-block">{{ cart.total_price | money_with_currency }}</span>
								</div>

								<div class="text-gray-600 text-sm">
									{% if shop.taxes_included %}
									{{ "common.including_tax" | t }}
									{% else %}
									{{ "common.excluding_tax" | t }}
									{% endif %}
								</div>

								<button name="checkout" class="button button-primary mt-8">
									{{ "action.checkout" | t }}
								</button>
							</div>
						</div>
						<div class="w-full xl:w-4/12 px-4">
							<div class="p-6 md:p-12 bg-blue-300">
								<h2 class="mb-6 text-4xl font-bold font-heading text-white">Cart totals</h2>
								<div class="flex mb-8 items-center justify-between pb-5 border-b border-blue-100">
									<span class="text-blue-50">Subtotal</span>
									<span class="text-xl font-bold font-heading text-white">$89.67</span>
								</div>
								<h4 class="mb-2 text-xl font-bold font-heading text-white">Shipping</h4>
								<div class="flex mb-2 justify-between items-center">
									<span class="text-blue-50">Next day</span>
									<span class="text-xl font-bold font-heading text-white">$11.00</span>
								</div>
								<div class="flex mb-10 justify-between items-center">
									<span class="text-blue-50">Shipping to United States</span>
									<span class="text-xl font-bold font-heading text-white">-</span>
								</div>
								<div class="flex mb-10 justify-between items-center">
									<span class="text-xl font-bold font-heading text-white">Order total</span>
									<span class="text-xl font-bold font-heading text-white">$100.67</span>
								</div>
								<a class="block w-full py-4 bg-orange-300 hover:bg-orange-400 text-center text-white font-bold font-heading uppercase rounded-md transition duration-200" href="#">Go to Checkout</a>
							</div>
						</div>
					</div>
				</form>
			{% else %}
				<p class="text-center mb-16">{{ "cart.empty_cart" | t }}</p>
				<div class="text-center mb-8 md:mb-16">
					<a href="{{ routes.root_url }}" class="text-sm underline">
						{{ "action.continue_shopping" | t }}
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "Main Cart",
	"class": "shopify-section-vue"
}
{% endschema %}
