<!-- shopify/sections/section-newsletter.liquid -->
<section class="relative py-20 lg:py-40 bg-orange-300 overflow-x-hidden" x-data>
	<img class="absolute inset-0 w-full h-full" src="{{ 'lines-white-3.static.svg' | asset_url }}" alt="">
	<div class="relative container px-4 mx-auto">
		<div class="text-center">
			<h2 class="mb-5 text-4xl md:text-5xl text-white font-bold font-heading">{{ section.settings.headline }}</h2>
			<p class="mb-6 text-gray-100">{{ section.settings.text }}</p>
			<img class="mb-12 inline-block" src="{{ 'quote.static.svg' | asset_url }}" alt="">
			<div class="relative max-w-xl mx-auto bg-white rounded-lg">
				<img class="absolute top-0 right-0 h-40 -mt-12 -mr-20" src="{{ 'quote-light.static.png' | asset_url }}" alt="">
				<div class="relative lg:max-w-xl lg:mx-auto bg-white rounded-lg">
					{% form 'customer' %}
						{% if form.errors %}
							{% capture error_text %}
								{{ form.errors | default_errors }}
							{% endcapture %}

							{% render 'layout-message',
								type: 'error'
								text: error_text
								class: 'mb-8'
							%}
						{% endif %}

						{% if form.posted_successfully? %}
							Success
						{% endif %}

						<input type="hidden" name="contact[tags]" value="newsletter">
						<div class="relative flex flex-wrap items-center justify-between">
							<div class="relative flex-1">
								<span class="absolute top-0 left-0 ml-8 mt-4 font-semibold font-heading text-xs text-gray-400">Drop your e-mail</span>
								<input
									class="inline-block w-full pt-8 pb-4 px-8 placeholder-gray-900 border-0 focus:ring-transparent focus:outline-none rounded-md"
									placeholder="steven@example.dev"
									type="email"
									name="contact[email]"
									value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
									required>
							</div>
							<button class="inline-block w-auto bg-blue-800 hover:bg-blue-900 text-white font-bold font-heading py-6 px-8 rounded-md uppercase text-center">{{ 'action.subscribe' | t }}</button>
						</div>
					{% endform %}

				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "t:sections.newsletter.name",
	"class": "shopify-section-vue",
	"settings": [
		{
			"type": "text",
			"id": "headline",
			"label": "t:common.headline",
			"default": "Join Our Newsletter"
		},
		{
			"type": "textarea",
			"id": "text",
			"label": "t:common.text",
			"default": "Sign me up for Yofte newsletters to get exclusive perks."
		}
	],
	"presets": [
		{
			"name": "t:sections.newsletter.name",
			"category": "Forms"
		}
	]
}
{% endschema %}
