<!-- shopify/sections/video.liquid -->

{%- comment -%}
{{ 'video-section.static.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.static.css' | asset_url | stylesheet_tag }}

<div class="video-section{% unless section.settings.full_width %} page-width{% endunless %}">
	<div{% if section.settings.full_width %} class="page-width"{% endif %}>
		<h2 class="title">{{ section.settings.heading }}</h2>
	</div>
	<noscript>
		<div class="video-section__media"
			{% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
		>
			<a href="{{ section.settings.video_url }}" class="video-section__poster media media--transparent media--landscape{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}">
				{%- if section.settings.cover_image != blank -%}
					<img
						srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
							{%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
							{%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
							{%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
							{%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
							{%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
							{%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
							{%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
							{{ section.settings.cover_image | img_url: 'master' }} {{ section.settings.cover_image.width }}w"
						src="{{ section.settings.cover_image | img_url: '1920x' }}"
						sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
						alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
						loading="lazy"
						width="{{ section.settings.cover_image.width }}"
						height="{{ section.settings.cover_image.height }}"
					>
				{%- else -%}
					{{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
				{%- endif -%}
			</a>
		</div>
	</noscript>
	<deferred-media class="video-section__media deferred-media no-js-hidden" data-media-id="{{ section.settings.video_url.id }}"
		{% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
	>
		<button
			id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}"
			class="video-section__poster media deferred-media__poster media--landscape"
			type="button"
		>
			{%- if section.settings.cover_image != blank -%}
				<img
					srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
						{%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
						{%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
						{%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
						{%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
						{%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
						{%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
						{%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
						{{ section.settings.cover_image | img_url: 'master' }} {{ section.settings.cover_image.width }}w"
					src="{{ section.settings.cover_image | img_url: '1920x' }}"
					sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
					alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
					loading="lazy"
					width="{{ section.settings.cover_image.width }}"
					height="{{ section.settings.cover_image.height }}"
				>
			{%- else -%}
				{{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
			{%- endif -%}
			<span class="deferred-media__poster-button motion-reduce">
				{%- render 'icon-play' -%}
			</span>
		</button>
		<template>
			{%- if section.settings.video_url.type == 'youtube' -%}
				<iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
			{%- else -%}
				<iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
			{%- endif -%}
		</template>
	</deferred-media>
</div>
{%- endcomment -%}
<section class="bg-blue-50 bg-opacity-20">
	<div class="container mx-auto px-4 pb-16">
		<div class="flex flex-wrap pt-8 pb-10 items-center">
			<span class="font-semibold font-heading mb-10 lg:mb-0 mr-14">Search items:</span>
			<div class="flex mr-auto mb-10 lg:mb-0 items-center pl-8 bg-white rounded-lg">
				<span class="mr-3">
					<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17.5 17.6719L12.5042 12.4961" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M7.27524 14.4082C10.8789 14.4082 13.8002 11.486 13.8002 7.88134C13.8002 4.27666 10.8789 1.35449 7.27524 1.35449C3.67159 1.35449 0.750244 4.27666 0.750244 7.88134C0.750244 11.486 3.67159 14.4082 7.27524 14.4082Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
				</span>
				<input class="border-0 focus:ring-transparent focus:outline-none" type="search">
				<button class="inline-flex items-center justify-center w-12 h-12 bg-orange-300 hover:bg-orange-400 rounded-md">
					<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.125 6.00252L0 1.87752L1.17801 0.699219L6.48102 6.00252L1.17801 11.3058L0 10.1275L4.125 6.00252Z" fill="white"></path>
					</svg>
				</button>
			</div>
			<div>
				<a class="inline-flex items-center justify-center w-12 h-12 mr-2 bg-blue-300 rounded-full" href="#">
					<svg class="w-4 h-4" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0)">
							<path d="M17.0064 0.554688H0.992752C0.444397 0.554962 -0.000137297 0.999771 3.181e-08 1.54826V17.5619C0.00027469 18.1103 0.445084 18.5548 0.993576 18.5547H17.0064C17.5551 18.5548 17.9999 18.1102 18 17.5615C18 17.5614 18 17.5612 18 17.5611V1.54744C17.9997 0.999084 17.5549 0.55455 17.0064 0.554688Z" fill="white"></path>
							<path d="M12.4277 18.555V11.5941H14.7744L15.126 8.86946H12.4277V7.13417C12.4277 6.34714 12.6462 5.81087 13.7748 5.81087H15.2051V3.38055C14.9562 3.34746 14.1025 3.27344 13.109 3.27344C11.0348 3.27344 9.61523 4.53906 9.61523 6.86432V8.86946H7.27734V11.5941H9.61523V18.555H12.4277Z" fill="#5475E5"></path>
						</g>
						<defs><clipPath id="clip0"><rect width="18" height="18" fill="white" transform="translate(0 0.554688)"></rect></clipPath></defs>
					</svg>
				</a>
				<a class="inline-flex items-center justify-center w-12 h-12 mr-2 bg-indigo-300 rounded-full" href="#">
					<svg class="w-4 h-4" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0)">
							<path d="M17.9825 5.84674C17.9403 4.89033 17.7857 4.2328 17.5641 3.66305C17.3356 3.05827 16.9839 2.51682 16.5232 2.0667C16.0731 1.60958 15.5281 1.25438 14.9303 1.02939C14.3573 0.807834 13.7032 0.653172 12.7468 0.611003C11.7832 0.565264 11.4773 0.554688 9.03349 0.554688C6.58966 0.554688 6.28377 0.565264 5.32379 0.607432C4.36738 0.6496 3.70985 0.804401 3.14024 1.02582C2.53532 1.25438 1.99387 1.60601 1.54375 2.0667C1.08663 2.51682 0.731567 3.06185 0.50644 3.65962C0.284885 4.2328 0.130222 4.88676 0.0880542 5.84317C0.0423147 6.80672 0.0317383 7.11261 0.0317383 9.55645C0.0317383 12.0003 0.0423147 12.3062 0.0844829 13.2662C0.126651 14.2226 0.281451 14.8801 0.503006 15.4498C0.731567 16.0546 1.08663 16.5961 1.54375 17.0462C1.99387 17.5033 2.5389 17.8585 3.13667 18.0835C3.70985 18.3051 4.36381 18.4597 5.32035 18.5019C6.2802 18.5442 6.58622 18.5546 9.03006 18.5546C11.4739 18.5546 11.7798 18.5442 12.7398 18.5019C13.6962 18.4597 14.3537 18.3051 14.9233 18.0835C16.133 17.6158 17.0894 16.6594 17.5571 15.4498C17.7785 14.8767 17.9333 14.2226 17.9755 13.2662C18.0177 12.3062 18.0282 12.0003 18.0282 9.55645C18.0282 7.11261 18.0247 6.80672 17.9825 5.84674ZM16.3616 13.1958C16.3228 14.0749 16.1752 14.5496 16.0521 14.8661C15.7496 15.6502 15.1273 16.2726 14.3431 16.5751C14.0267 16.6981 13.5485 16.8458 12.6729 16.8844C11.7235 16.9267 11.4387 16.9371 9.03707 16.9371C6.6354 16.9371 6.34709 16.9267 5.40112 16.8844C4.52204 16.8458 4.04734 16.6981 3.73087 16.5751C3.34064 16.4308 2.98544 16.2023 2.69713 15.9034C2.39824 15.6115 2.16968 15.2599 2.02546 14.8696C1.90239 14.5532 1.75473 14.0749 1.71613 13.1994C1.67383 12.25 1.66339 11.9651 1.66339 9.56345C1.66339 7.16178 1.67383 6.87347 1.71613 5.92764C1.75473 5.04856 1.90239 4.57386 2.02546 4.25739C2.16968 3.86703 2.39824 3.51196 2.7007 3.22351C2.99244 2.92463 3.34408 2.69607 3.73444 2.55198C4.05091 2.42891 4.52918 2.28125 5.40469 2.24252C6.35409 2.20035 6.63897 2.18977 9.0405 2.18977C11.4457 2.18977 11.7305 2.20035 12.6764 2.24252C13.5555 2.28125 14.0302 2.42891 14.3467 2.55198C14.7369 2.69607 15.0921 2.92463 15.3804 3.22351C15.6793 3.51539 15.9079 3.86703 16.0521 4.25739C16.1752 4.57386 16.3228 5.052 16.3616 5.92764C16.4037 6.87704 16.4143 7.16178 16.4143 9.56345C16.4143 11.9651 16.4037 12.2464 16.3616 13.1958Z" fill="white"></path>
							<path d="M9.03362 4.93262C6.48086 4.93262 4.40967 7.00367 4.40967 9.55657C4.40967 12.1095 6.48086 14.1805 9.03362 14.1805C11.5865 14.1805 13.6576 12.1095 13.6576 9.55657C13.6576 7.00367 11.5865 4.93262 9.03362 4.93262ZM9.03362 12.556C7.37752 12.556 6.03418 11.2128 6.03418 9.55657C6.03418 7.90033 7.37752 6.55713 9.03362 6.55713C10.6899 6.55713 12.0331 7.90033 12.0331 9.55657C12.0331 11.2128 10.6899 12.556 9.03362 12.556Z" fill="white"></path>
							<path d="M14.9198 4.74989C14.9198 5.34602 14.4365 5.82937 13.8402 5.82937C13.2441 5.82937 12.7607 5.34602 12.7607 4.74989C12.7607 4.15363 13.2441 3.67041 13.8402 3.67041C14.4365 3.67041 14.9198 4.15363 14.9198 4.74989Z" fill="white"></path>
						</g>
						<defs><clipPath id="clip0"><rect width="18" height="18" fill="white" transform="translate(0 0.554688)"></rect></clipPath></defs>
					</svg>
				</a>
				<a class="inline-flex items-center justify-center w-12 h-12 bg-blue-200 rounded-full" href="#">
					<svg class="w-4 h-4" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18 1.97356C17.3306 2.26719 16.6174 2.46181 15.8737 2.55631C16.6388 2.09956 17.2226 1.38181 17.4971 0.516687C16.7839 0.941937 15.9964 1.24231 15.1571 1.40994C14.4799 0.688813 13.5146 0.242188 12.4616 0.242188C10.4186 0.242188 8.77387 1.90044 8.77387 3.93331C8.77387 4.22581 8.79862 4.50706 8.85938 4.77481C5.7915 4.62519 3.07687 3.15481 1.25325 0.914938C0.934875 1.46731 0.748125 2.09956 0.748125 2.78019C0.748125 4.05819 1.40625 5.19106 2.38725 5.84694C1.79437 5.83569 1.21275 5.66356 0.72 5.39244C0.72 5.40369 0.72 5.41831 0.72 5.43294C0.72 7.22619 1.99912 8.71569 3.6765 9.05881C3.37612 9.14094 3.04875 9.18031 2.709 9.18031C2.47275 9.18031 2.23425 9.16681 2.01038 9.11731C2.4885 10.5787 3.84525 11.6531 5.4585 11.6879C4.203 12.6701 2.60888 13.2618 0.883125 13.2618C0.5805 13.2618 0.29025 13.2483 0 13.2112C1.63462 14.2653 3.57188 14.8672 5.661 14.8672C12.4515 14.8672 16.164 9.24219 16.164 4.36644C16.164 4.20331 16.1584 4.04581 16.1505 3.88944C16.8829 3.36969 17.4982 2.72056 18 1.97356Z" fill="white"></path>
					</svg>
				</a>
			</div>
		</div>
		<div class="flex flex-wrap -mx-4">
			<div class="w-full lg:w-8/12 px-4 mb-6 lg:mb-0">
				<div class="relative h-full bg-white overflow-hidden">
					<img class="absolute right-0 top-0 w-1/2 h-full object-cover" src="https://picsum.photos/200" alt="">
					<div class="hidden lg:flex absolute right-0 top-1/2 pr-10 transform -translate-y-1/2 flex-col items-center">
						<span class="mb-5 font-bold font-heading">01</span>
						<div class="mb-5 h-16 w-px bg-gray-100"></div>
						<button class="mb-5">
							<img src="{{'circle.static.svg' | asset_url}}" alt="">
						</button>
						<button class="mb-6 w-1 h-1 bg-blue-500 rounded-full"></button>
						<button class="mb-6 w-1 h-1 bg-blue-500 rounded-full"></button>
						<div class="h-16 w-px bg-gray-100"></div>
					</div>
					<div class="relative max-w-xl pl-6 lg:pl-20 pt-32 pb-24">
						<span class="px-3 py-1 border border-blue-500 rounded-full text-xs text-blue-500 font-bold font-heading uppercase">Bestseller</span>
						<h2 class="mt-6 mb-8 text-5xl lg:text-6xl font-bold font-heading">
							<span>Don’t stop.</span>
							<span class="text-blue-500">Create</span>
							<span>yourself.</span>
						</h2>
						<p class="mb-20 text-lg text-gray-600">Discover more products and inspiration.</p>
						<a class="inline-block bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-6 px-8 rounded-md uppercase transition duration-200" href="#">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="w-full lg:w-4/12 px-4">
				<a href="#">
					<img class="mb-6" src="https://picsum.photos/200" alt="">
				</a>
				<a href="#">
					<img src="https://picsum.photos/200" alt="">
				</a>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "t:sections.video.name",
	"tag": "section",
	"class": "spaced-section spaced-section--full-width",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"default": "Video",
			"label": "t:sections.video.settings.heading.label"
		},
		{
			"type": "image_picker",
			"id": "cover_image",
			"label": "t:sections.video.settings.cover_image.label"
		},
		{
			"type": "video_url",
			"id": "video_url",
			"accept": [
				"youtube",
				"vimeo"
			],
			"default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
			"label": "t:sections.video.settings.video_url.label",
			"placeholder": "t:sections.video.settings.video_url.placeholder",
			"info": "t:sections.video.settings.video_url.info"
		},
		{
			"type": "text",
			"id": "description",
			"label": "t:sections.video.settings.description.label",
			"info": "t:sections.video.settings.description.info"
		},
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "t:sections.video.settings.full_width.label",
			"default": false
		}
	],
	"presets": [
		{
			"name": "t:sections.video.presets.name"
		}
	]
}
	{% endschema %}
