<!-- shopify/templates/customers/register.liquid -->
{% layout 'no-header' %}

<section class="relative overflow-x-hidden" x-data="login">
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap items-center">
			<div class="w-full lg:w-2/6 px-4 mb-12 lg:mb-0">
				<div class="py-20 text-center">
					{% render 'layout-logo', class: 'inline-block mb-14' %}

					{% form 'create_customer' %}
						<input type="hidden" name="customer[tags]" value="locale={{ request.locale.iso_code }}" />
						<h3 class="mb-8 text-4xl md:text-5xl font-bold font-heading">{{ 'customer.entry.create_account' | t }}</h3>
						{% if form.errors %}
							{% capture error_text %}
								{{ form.errors | default_errors }}
							{% endcapture %}

							{% render 'layout-message',
								type: 'error'
								text: error_text
								class: 'mb-8'
							%}
						{% endif %}

						<div class="mb-4">
							<label for="FirstName" class="sr-only">{{ 'form.first_name' | t }}</label>
							<input class="w-full px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text" placeholder="{{ 'form.first_name' | t }}" id="FirstName" name="customer[first_name]" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} required>
						</div>

						<div class="mb-4">
							<label for="LastName" class="sr-only">{{ 'form.last_name' | t }}</label>
							<input class="w-full px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text" placeholder="{{ 'form.last_name' | t }}" id="LastName" name="customer[last_name]" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} required>
						</div>

						<div class="mb-4">
							<label for="CustomerEmail" class="sr-only">{{ 'form.email' | t }}</label>
							<input class="w-full px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="email" placeholder="{{ 'form.email' | t }}" id="CustomerEmail" name="customer[email]" value="{% if form.email %}{{ form.email }}{% endif %}" required>
						</div>

						<div class="mb-4">
							<label for="CreatePassword" class="sr-only">{{ 'form.password' | t }}</label>
							<input class="w-full px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="password" placeholder="{{ 'form.password' | t }}" id="CreatePassword" name="customer[password]" required>
						</div>

						<label class="flex" for="">
							<input class="mr-4 mt-1" type="checkbox" required>
							<span class="text-sm">By singning up, you agree to our Terms, Data Policy and Cookies.</span>
						</label>

						<div class="mt-12 md:mt-16 flex flex-wrap gap-4 sm:gap-6 justify-center">
							<button type="submit" class="bg-blue-800 hover:bg-blue-900 text-white font-bold font-heading py-5 px-8 rounded-md uppercase">{{ 'action.create_account' | t }}</button>
							<div class="w-full sm:w-auto flex justify-center items-center">
								<span>{{ 'common.or' | t }}&nbsp;</span>
								<a href="{{ routes.root_url }}account/login" class="underline">{{ 'action.sign_in' | t }}</a>
							</div>
						</div>
					{% endform %}

				</div>
				<img class="lg:hidden h-96 w-full object-cover" src="https://picsum.photos/1240" alt="" loading="lazy" width="1240" height="1240">
			</div>
		</div>
	</div>
	<div class="hidden lg:block lg:absolute top-0 bottom-0 right-0 lg:w-3/6 bg-center bg-cover bg-no-repeat" style="background-image: url('https://picsum.photos/1240');"></div>
</section>
